[Unit]
Description=Recuperation capteur humidite daemon
Wants=network-online.target
After=network-online.target
 
[Service]
Type=simple
 
User=pi
Group=pi
 
ExecStart=/home/pi/DashScreen/PiHomeDashScreen/sensor/get_hum_v1.sh
 
Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target
